<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eduardo Pérez</title>
    <link rel="shortcut icon" href="./img/images.png">   
</head>
<body>
    <h1>Eduardo Pérez López</h1>
    <h2>Portafolio personal</h2>
    <p>Hola soy Eduardo, apasinado por la tecnologia cyberpunk con conocimientos en programacion
        <br>avanzada. Mis lenguajes favoritos en programacion son Python, Java y todo lo que tiene que ver
        <br>con automatización y tecnologias de ciencia ficción.
    </p>

    <a href="mascota.html">Visita mi pagina minimalista</a>
    
    
</body>
</html>