<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio de Eduardo Pérez</title>
    <link rel="shortcut icon" href="./img/images.png">   
</head>
<body>
    <header>
        <h1>Eduardo Pérez López</h1>
        <h2>Portafolio personal</h2>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="mascotas.html">Mascotas</a></li>
        </ul>
    </nav>
    <main>
        <section id="presentacion">
            <p>Hola, soy Eduardo, apasionado por la tecnologia cyberpunk con conocimientos en programación
            avanzada. Mis lenguajes favoritos en programacion son <span>Python</span>, Java y todo lo que tiene que ver
            con automatización y tecnologias de ciencia ficción.</p>
        </section>
        <section>
            <h2>Mi estilo visual</h2>
            <img src="../../public/img/Eduardo_cyberpunk.png" alt="Eduardo Programando en un entorno cyberpunk">
        </section>
        <section>
            <h2>Mis intereses</h2>
            <h3>Mis lenguajes favoritos</h3>
            <ul>
                <li>Python</li>
                <li>Java</li>
                <li>JavaScript</li>
            </ul>
            <h3>Areas que me atraen</h3>
            <ul>
                <li>Análisis con Python</li>
                <li>Automatización</li>
                <li>Inteligencia Artificial</li>
                <li>Tecnología Cyberpunk</li>
            </ul>
        </section>
        <section>
            <h2>Mi ruta de aprendizaje</h2>
            <ol>
                <li>Dominar logica con Python</li>
                <li>Dominar HTML</li>
                <li>Dominar CSS</li>
                <li>Dominar JavaScript</li>
                <li>Construir sitios web completos</li>
                <li>Crear proyectos reales</li>
            </ol>
        </section>
         <section>
            <h2>Mis enlaces</h2>
            <a class="enlace-navegacion" href="mascotas.html">Ver mi página de mascotas</a>
            <div>
                <a class="enlace-contacto" href="https://github.com/Ares19punk" target="_blank">GitHub Arespunk</a>
                <a class="enlace-contacto" href="mailto:arespunk@ejemplo.com">Envíame un correo</a>
            </div>
            
        </section>
    </main>
    <footer>
        <p>Sitio web creado por Eduardo Pérez</p>
    </footer>

</body>
</html>