<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina minimalista</title>
</head>
<body>
    <h1>Pagina minimalista</h1>
    <p>Los animales siempre me han gustado sobre todo los lobos y las aves. Son especies facinantes
        <br>LOs lobos nos enseñan a convivir en manada y apoyarno entre familia mientras que la aves
        <br>nos enseñan libertad y que podemos volvar lejos en las metas que nos propongamos
    </p>
    <a href="index.html">Volver a mi portafolio</a>
    
</body>
</html>