<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas favoritas Eduardo Pérez</title>
</head>
<body>
    <header>
        <h1>Mis animales favoritos</h1>
        <h2>Animales que admiro</h2>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="mascotas.html">Mascotas</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <p>Los animales siempre me han gustado sobre todo los lobos y las aves. Son especies fascinantes</p>
            <p>Los lobos nos enseñan a convivir en manada y apoyarnos entre familia, mientras que las aves
             nos enseñan libertad y que podemos volar lejos en las metas que nos propongamos.</p>
        </section>
        <section>
            <h2>Mis animales favoritos</h2>
            <ul>
                <li>Lobo</li>
                <li>Canario</li>
                <li>Zorro</li>
            </ul>
        </section>
        <section>
            <h2>Mi animal favorito</h2>
            <figure>
                <img src="../../public/img/lobo.png" alt="Lobo con estetica Cyberpunk">
                <figcaption>Lobo con estilo futurista y cyberpunk.</figcaption>
            </figure>
            
        </section>
       
    </main>
    <footer>
        <p>Páginas de mascotas de Eduardo Pérez</p>
    </footer>
    
</body>
</html>