* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  /* ===== LAYOUT GENERAL ===== */
  main {
    max-width: 100%;
    padding: 0 1rem;
  }

  section,
  header,
  nav,
  footer {
    margin: 1rem;
    padding: 1rem;
  }

  /*=======HEADER=======*/
  header h1 {
    font-size: 2rem;
    letter-spacing: 0.12rem;
    text-align: center;
  }

  header h2 {
    font-size: 1.25rem;
    text-align: center;
  }

  /* ===== NAVEGACIÓN ===== */
  nav ul {
    gap: 1.5rem;
  }

  nav a {
    font-size: 1.05rem;
  }

  /* ===== PRESENTACIÓN ===== */
  #presentacion {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    
  }

  #div1,
  #div2 {
    flex: unset;
    width: 100%;
  }

  #eduardo-cyberpunk {
    max-width: 18rem;
  }

  #presentacion p {
    font-size: 1.1rem;
    text-align: justify;
  }

  /* ===== GRIDS ===== */
  .intereses-grid,
  .proyectos-grid,
  .enlaces-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ===== TARJETAS ===== */
  .tarjeta-cyber {
    padding: 1rem;
  }

  .tarjeta-cyber img {
    height: 12.5rem;
  }

  /* ===== LENGUAJES ===== */
  #div-aprendizaje {
    gap: 0.8rem;
    padding: 1rem;
  }

  #div-aprendizaje figure {
    max-width: 7rem;
  }

  /* ===== FORMULARIO ===== */
  form {
    gap: 1rem;
  }

  input,
  textarea {
    max-width: 100%;
  }

  /* ==== PROYECTOS ==== */
  
  .proyectos-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  /* ==== INTERESES ==== */
  
  .intereses-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  /* ==== ENLACES ==== */
  
  .enlaces-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  #div1 img {
    width: 70%;
  }
}
