* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*====================VARIABLES====================*/
:root {

  --color-fondo: #0a0a0f;
  --color-fondo-secundario: #051627;
  --color-fondo-terciario: #0e2022;
  --color-panel: #020f1a;
  --color-borde: #2a2a40;
  

  --color-neon-cyan: #00f5ff;
  --color-neon-pink: #e67db9;
  ;
  --color-neon-purple: #9d4edd;
  --color-neon-green: #39ff14;
  --color-neon-yellow: #ffe600;
  --color-neon-orange: #fa7705;
  --color-neon-darkblue: #107594;
  --color-neon-green-rgba: #151715f7;
  --color-neon-online: #16d574;

  --color-texto-principal: #d86b4d;
  --color-texto-secundario: #cdd3db;
  --color-texto-apagado: #7a7a93;

  --color-hover: #00c2ff;
  --color-sombra-neon: 0 0 10px #00f5ff, 0 0 20px #ff00c8;

  --font-title: "Orbitron", "Exo 2", "Rajdhani", sans-serif;
  --font-system: "Share Tech Mono", "Courier New", monospace;
  --font-terminal: "VT323", "Share Tech Mono", "Courier New", monospace;
  --font-tech: "Audiowide", "Orbitron", sans-serif;
}

/*=================================================*/

/*==================BASE GENERAL==================*/

html {
  scroll-behavior: smooth;
}

body {
  background: repeating-linear-gradient(to bottom,
      var(--color-fondo) 0px,
      var(--color-fondo) 4px,
      var(--color-fondo-secundario) 4px,
      var(--color-fondo-secundario) 6px);
  color: var(--color-texto-principal);
}

main {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

/*=================================================*/

/*====================TIPOGRAFIA===================*/

h1,
h2,
h3 {
  font-family: var(--font-title);
  text-shadow: 0 0 4px var(--color-texto-secundario);
}

h2 {
  text-align: center;
}

p,
li {
  line-height: 1.6;
  font-size: 1.08rem;
  font-family: var(--font-terminal);
  list-style: none;
  text-align: justify;
}

h2 {
  color: var(--color-texto-secundario);
  font-size: 30px;
}

h3 {
  color: var(--color-texto-secundario);
  text-shadow: 0 0 8px var(--color-texto-secundario);
}



li {
  color: var(--color-neon-darkblue);
  font-family: var(--font-system);
}

/*=================================================*/

/*================LAYOUT PRINCIPAL=================*/

header {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 24px;
  margin: 20px;
  gap: 10px;
}

nav {
  margin: 20px;
  padding: 14px 20px;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

section {
  margin: 20px;
  padding: 20px;
  border: 1px solid var(--color-fondo-secundario);
  background-color: var(--color-fondo-secundario);
  border-radius: 12px;

}

footer {
  margin: 20px;
  padding: 16px;
  border: 1px solid var(--color-borde);
  border-radius: 12px;
}

/*=================================================*/

/*=====================HEADER======================*/

header span {
  color: var(--color-neon-online);
}

header h1 {
  font-size: 2.4rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--color-texto-apagado);

  animation: animate 5s linear infinite;
}

header h2 {
  font-size: 1.75rem;
  letter-spacing: 2px;
  color: var(--color-texto-secundario);
  text-shadow: 0 0 4px var(--color-texto-secundario);
  text-align: start;
}

@keyframes animate {

  0%,
  10%,
  15%,
  20%,
  50%,
  60%,
  70%,
  90% {
    color: var(--color-texto-apagado);
    text-shadow: none;
  }

  0.1%,
  10.1%,
  15.1%,
  20.1%,
  50.1%,
  60.1%,
  70.1%,
  90.1% {
    color: #e2e2ea;
    text-shadow: 0 0 10px var(--color-neon-cyan),
      0 0 20px var(--color-neon-cyan),
      0 0 40px var(--color-neon-cyan),
      0 0 80px var(--color-neon-cyan),
      0 0 160px var(--color-neon-cyan);
  }
}

/*=================================================*/

/*=====================NAVEGACION==================*/

nav ul {
  display: flex;
  justify-content: center;
  gap: 60px;
  list-style: none;
  flex-wrap: wrap;

}

nav li {
  margin-bottom: 10px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-family: var(--font-terminal);
  font-size: 1.35rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

nav a:hover {
  color: var(--color-neon-cyan);
  text-shadow: 0 0 8px var(--color-neon-cyan);
}

/*=================================================*/

/*====================FORMULARIOS==================*/

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 12px;

}

label {
  font-family: var(--font-terminal);
  color: var(--color-texto-secundario);
  font-size: 18px;
}

input,
textarea {
  width: 100%;
  max-width: 500px;
  padding: 12px 14px;
  border: 1px solid var(--color-neon-cyan);
  background-color: var(--color-fondo-secundario);
  color: var(--color-texto-principal);
  font-family: var(--font-terminal);
  font-size: 16px;
  box-shadow: 0 0 10px var(--color-neon-cyan);
  border-radius: 12px;
}

textarea {
  min-height: 140px;
  resize: vertical;
  resize: horizontal;
}

button {
  width: fit-content;
  padding: 12px 24px;
  background-color: var(--color-panel);
  color: var(--color-neon-cyan);
  border: 1px solid var(--color-neon-cyan);
  box-shadow: 0 0 10px var(--color-neon-cyan);
  font-family: var(--font-title);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-hover);
  color: var(--color-fondo);
  transform: translateY(-2px);
  box-shadow: 0 0 16px var(--color-neon-pink);
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--color-neon-pink);
  box-shadow: 0 0 12px var(--color-neon-pink)
}

input:focus {
  outline: 2px solid var(--color-neon-pink);
}

/*=================================================*/

/*===============CLASES ESPECIALES=================*/

.resaltar-imagen {
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
  opacity: 0.9;
  box-shadow: 0 0 12px var(--color-neon-cyan);
  filter: brightness(0.9) contrast(1.05);
}

.resaltar-imagen:hover {
  box-shadow: 0 0 30px var(--color-neon-pink);
  transform: translateY(-3px);
  opacity: 1;
  filter: brightness(1.05) contrast(1.15) saturate(1.1);
}

.panel-cyber {
  background: repeating-linear-gradient(to bottom,
      var(--color-panel) 0px,
      var(--color-panel) 6px,
      rgba(0, 245, 255, 0.08) 6px,
      rgba(0, 245, 255, 0.08) 8px);
}

/*formato Grid PROYECTOS*/

.proyectos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

}

.tarjeta-cyber {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 18px;
  border: 1px solid var(--color-neon-cyan);
  border-radius: 16px;
  background: linear-gradient(to bottom,
      var(--color-panel),
      var(--color-fondo-secundario));
  box-shadow: 0 0 10px var(--color-neon-cyan);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta-cyber:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 18px var(--color-neon-pink);
}

.tarjeta-cyber img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid var(--color-neon-cyan);
}

.tarjeta-cyber h3 {
  text-align: left;
  color: var(--color-texto-secundario);
  text-shadow: 0 0 6px var(--color-texto-secundaro);
}

.tarjeta-cyber p {
  color: var(--color-neon-pink);
}

.boton-cyber {
  display: inline-block;
  width: fit-content;
  padding: 6px 12px;
  border: 1px solid var(--color-neon-pink);
  border-radius: 100px;
  background-color: var(--color-fondo-secundario);
  font-family: var(--font-system);
  font-size: 0.8rem;
  letter-spacing: 1px;
}

/*CLASES INTERESES*/

.texto-intereses {
  max-width: 800px;
  margin: 0 auto 24px auto;
  text-align: justify;
  color: var(--color-neon-cyan);

}

.insignia-intereses {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--color-neon-cyan);

}

.intereses-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

/*==================ID ESPECIALES==================*/

/*PRESENTACIÓN*/
#presentacion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

#presentacion p {
  color: var(--color-texto-secundario);
  font-family: var(--font-terminal);
  font-style: italic;
  font-size: 1.3em;
  text-align: justify;
}

/* Modificacion de imagen de Eduardo programando en un entorno Cyber punk*/
#eduardo-cyberpunk {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--color-fondo-secundario);
  border-radius: 100%;
  box-shadow: 0 0 10px var(--color-neon-cyan);
}

#div1 {
  flex: 1;
}
#div2 {
  font-family: var(--font-terminal);
  flex: 2;
}


/*SECCIÓN PROYECTOS*/
#boton1 {
  color: var(--color-neon-purple);
  box-shadow: 0 0 10px var(--color-neon-purple);
  border: 1px solid var(--color-neon-purple);
}

#boton2 {
  color: var(--color-neon-pink);
  box-shadow: 0 0 10px var(--color-neon-pink);
  border: 1px solid var(--color-neon-pink);
}

#boton3 {
  color: var(--color-neon-orange);
  box-shadow: 0 0 10px var(--color-neon-orange);
  border: 1px solid var(--color-neon-orange);
}

/*SECCIÓN INTERESES*/

#intereses {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  gap: 20px;
}

#boton-interes1 {
  color: var(--color-neon-purple);
  box-shadow: 0 0 10px var(--color-neon-purple);
  border: 1px solid var(--color-neon-purple);
}

#boton-interes2 {
  color: var(--color-neon-pink);
  box-shadow: 0 0 10px var(--color-neon-pink);
  border: 1px solid var(--color-neon-pink);
}

#boton-interes2 {
  color: var(--color-neon-orange);
  box-shadow: 0 0 10px var(--color-neon-orange);
  border: 1px solid var(--color-neon-orange);
}

/*SECCIÓN LENGUAJE*/

#div-aprendizaje {
  display: flex;
  justify-content: center;
  gap: 1em;
  justify-content: center;
  align-items: center;
  padding: 30px ;
  flex-wrap: wrap;
}

#div-aprendizaje figure {
  max-width: 9em;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

#div-aprendizaje figure img {
  width: 100%;
  height: auto;

}

/*=================================================*/

/*=============SECCIÓN MASCOTAS.HTML===============*/

/*Estilo aplicado para la sección mascota*/

figcaption {
  font-family: var(--font-terminal);
  color: var(--color-neon-cyan);
}

.mascota figure {
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  border: 1px solid var(--color-neon-cyan);
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: repeating-linear-gradient(to bottom,
      var(--color-fondo) 0px,
      var(--color-fondo) 4px,
      var(--color-neon-green-rgba) 4px,
      var(--color-neon-green-rgba) 6px)
}

.mascota figure div {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  border: 0.1px solid var(--color-neon-cyan);
  align-items: center;
}

div img {
  border-radius: 30px;
}

/*=================================================*/