*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*====================VARIABLES====================*/
:root {
  
    --color-fondo: #0a0a0f;
    --color-fondo-secundario: #11111b;
    --color-panel: #1a1a2e;
    --color-borde: #2a2a40;

    --color-neon-cyan: #00f5ff;
    --color-neon-pink: #ff00c8;
    --color-neon-purple: #9d4edd;
    --color-neon-green: #39ff14;
    --color-neon-yellow: #ffe600;
    --color-neon-orange: #fa7705;
    --color-neon-darkblue: #107594;
    --color-neon-green-rgba: #151715f7;

    --color-texto-principal: #d86b4d;
    --color-texto-secundario: #e2e2ea;
    --color-texto-apagado: #7a7a93;

    --color-hover: #00c2ff;
    --color-sombra-neon: 0 0 10px #00f5ff, 0 0 20px #ff00c8;

    --font-title: "Orbitron", "Exo 2", "Rajdhani", sans-serif;
    --font-system: "Share Tech Mono", "Courier New", monospace;
    --font-terminal: "VT323", "Share Tech Mono", "Courier New", monospace;
    --font-tech: "Audiowide", "Orbitron", sans-serif;
}
/*=================================================*/

/*==================BASE GENERAL==================*/

body {
  background: linear-gradient(
    to bottom,
    var(--color-fondo),
    var(--color-fondo-secundario)
  );
  color: var(--color-texto-principal);
}

main {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

/*=================================================*/

/*====================TIPOGRAFIA===================*/

h1, h2, h3 {
  font-family: var(--font-title);
}

h2 {
  text-align: center;
}

p, li {
  line-height: 1.6;
  font-size: 1.04rem;
  font-family: var(--font-terminal);
  list-style:none;
}

h2{
  color: var(--color-texto-secundario);
  -webkit-text-stroke: 1px var(--color-neon-orange);
  text-shadow: 0 0 8px var(--color-neon-orange);
}

h3{
    color: var(--color-texto-secundario);
    text-shadow: 0 0 8px var(--color-neon-orange);
}

p {
    color: var(--color-neon-darkblue);
}

li {
    color: var(--color-neon-darkblue);
    font-family: var(--font-system);
}

/*=================================================*/

/*================LAYOUT PRINCIPAL=================*/

header {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background: repeating-linear-gradient(
    to bottom,
    var(--color-fondo) 0px,
    var(--color-fondo) 4px,
    var(--color-fondo-secundario) 4px,
    var(--color-fondo-secundario) 6px
  );
    border: 1px solid var(--color-neon-darkblue);
    box-shadow: 0 0 10px var(--color-neon-cyan);
    padding: 24px;
    margin: 20px;
    gap: 10px;
    text-align: center;
}
header {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background: repeating-linear-gradient(
    to bottom,
    var(--color-fondo) 0px,
    var(--color-fondo) 4px,
    var(--color-fondo-secundario) 4px,
    var(--color-fondo-secundario) 6px
  );
    border: 1px solid var(--color-neon-darkblue);
    box-shadow: 0 0 10px var(--color-neon-cyan);
    padding: 24px;
    margin: 20px;
    gap: 10px;
    text-align: center;
}

nav {
  margin: 20px;
  padding: 16px;
  border: 1px solid var(--color-borde);
  background-color: var(--color-fondo-secundario);
  border-radius: 12px;
  box-shadow: 0 0 8px var(--color-neon-cyan);
}

section{
  margin: 20px;
  padding: 20px;
  border: 1px solid var(--color-borde);
  background-color: var(--color-panel);
  border-radius: 12px;
  box-shadow: 0 0 8px var(--color-neon-cyan);

}

footer{
  margin: 20px;
  padding: 16px;
  border: 1px solid var(--color-borde);
  border-radius: 12px;
}

/*=================================================*/

/*=====================HEADER======================*/

header h1 {
  font-size: 2.4rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--color-texto-apagado);
  
  animation: animate 5s linear infinite;
}

header h2 {
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: var(--color-texto-secundario);
    text-shadow: 0 0 4px var(--color-neon-cyan);
}

@keyframes animate{
  0%,10%,15%,20%,50%,60%,70%,90%{
    color: var(--color-texto-apagado);
    text-shadow: none;
  }
  0.1%,10.1%,15.1%,20.1%,50.1%,60.1%,70.1%,90.1%{
    color:#e2e2ea;
    text-shadow: 0 0 10px var(--color-neon-cyan),
    0 0 20px var(--color-neon-cyan),
    0 0 40px var(--color-neon-cyan),
    0 0 80px var(--color-neon-cyan),
    0 0 160px var(--color-neon-cyan);
    
  }
}

/*=================================================*/

/*=====================NAVEGACION==================*/

  nav ul{
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;

  }

  nav li{
    margin-bottom: 10px;
  }

  nav a {
    color: var(--color-neon-cyan);
    text-decoration: none;
    font-family: var(--font-system);
  }

  nav a:hover {
    color: var(--color-hover);
    text-shadow: 0 0 10px var(--color-neon-green);
   transition: background-color 0.3s ease, color 0.3s ease;

  }

  section ul li:first-child {
  color: var(--color-neon-cyan);
}

  section ul li:nth-child(2) {
  color: var(--color-neon-orange);
}

  section ul li:nth-child(3) {
  color: var(--color-neon-yellow);
}

  section ul li:nth-child(4) {
  color: var(--color-neon-pink);
}



 /*=================================================*/
 
 /*====================FORMULARIOS==================*/

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 12px;

}

label {
  font-family: var(--font-terminal);
  color: var(--color-texto-secundario);
  font-size: 18px;
}

input, textarea {
  width: 100%;
  max-width: 500px;
  padding: 12px 14px; 
  border: 1px solid var(--color-neon-cyan);
  background-color: var(--color-fondo-secundario);
  color: var(--color-texto-principal);
  font-family: var(--font-terminal);
  font-size: 16px;
  box-shadow: 0 0 10px var(--color-neon-cyan);
  border-radius: 12px;
}

textarea {
  min-height: 140px;
  resize: vertical;
  resize: horizontal;
}

button {
  width: fit-content;
  padding: 12px 24px;
  background-color: var(--color-panel);
  color: var(--color-neon-cyan);
  border: 1px solid var(--color-neon-cyan);
  box-shadow: 0 0 10px var(--color-neon-cyan);
  font-family: var(--font-title);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-hover);
  color: var(--color-fondo);
  transform: translateY(-2px);
  box-shadow: 0 0 16px var(--color-neon-pink);
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--color-neon-pink);
  box-shadow: 0 0 12px var(--color-neon-pink)
}

input:focus {
  outline: 2px solid var(--color-neon-pink);
}

/*=================================================*/

/*===============CLASES ESPECIALES=================*/

.resaltar-imagen {
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
  opacity: 0.9;
  box-shadow: 0 0 12px var(--color-neon-cyan);
  filter: brightness(0.9) contrast(1.05);
  

}

.resaltar-imagen:hover {
  box-shadow: 0 0 30px var(--color-neon-pink);
  transform: translateY(-3px);
  opacity: 1;
  filter: brightness(1.05) contrast(1.15) saturate(1.1);
}

.panel-cyber {
  background: repeating-linear-gradient(
    to bottom,
    var(--color-panel) 0px,
    var(--color-panel) 6px,
    rgba(0, 245, 255, 0.08) 6px,
    rgba(0, 245, 255, 0.08) 8px
  );
}

/*==================ID ESPECIALES==================*/

/* Modificacion de imagen de Eduardo programando en un entorno Cyber punk*/
#eduardo-cyberpunk {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--color-neon-cyan);
  box-shadow: 0 0 20px var(--color-neon-pink);
  border-radius: 20px;
}

/*=================================================*/

/*=============SECCIÓN MASCOTAS.HTML===============*/

/*Estilo aplicado para la sección mascota*/

figcaption {
  font-family: var(--font-terminal);
  color: var(--color-neon-cyan);
}

section figure {
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  border: 1px solid var(--color-neon-cyan);
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: repeating-linear-gradient(
    to bottom,
    var(--color-fondo) 0px,
    var(--color-fondo) 4px,
    var(--color-neon-green-rgba) 4px,
    var(--color-neon-green-rgba) 6px)
}

figure div {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  border: 0.1px solid var(--color-neon-cyan);
  align-items: center;
}

div img {
  border-radius: 30px;
}

/*=================================================*/



